<%- include('../layouts/adminHeader.ejs') %>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1 class="text-center">Reset Admin Password</h1>

      <% if(typeof message !== 'undefined') { %>
        <h3><%= message %></h3>
      <% } %>

      <form action="/admin/forget-password" method="post">
        <div class="mb-3">
          <input type="password" class="form-control" name="password" placeholder="Enter password" required>
        </div>
        <input type="hidden" name="admin_id" value="<%=admin_id%>">
        <button type="submit" class="btn btn-primary">Reset Password</button><br>
        <a href="/admin">Login?</a>
      </form>
    </div>
  </div>
</div>
<br><br><br>
<%- include('../layouts/adminFooter.ejs') %>
