<% include('../layouts/header.ejs') %>

<h1> Reset Admin Password</h1>

<% 
    if(typeof message !== 'undefined'){

        %>

            <h3><%= message%></h3>


        <%

    }

%>

<form action="/admin/forget-password " method="post">

    <input type="password" name="password" placeholder="Enter password">
    <input type="hidden" name="admin_id" value="<%=admin_id%>">
    <br><br>
    <input type="submit" value="Reset Password">

</form> 

<% include('../layouts/footer.ejs') %>
