<%- include('../layouts/adminHeader.ejs')  %>

    <title>Email Verified</title>
    <div class="container mt-5">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Your Email Has been Verified</h4>
            <p>Congratulations! Your email has been successfully verified.</p>
            <hr>
            <p class="mb-0">You can now login to your account <a href="/admin">here</a>.</p>
        </div>
    </div>
    
    
<br><br><br><br><br><br><br><br><br><br>

<%- include("../layouts/adminFooter.ejs")  %>
