<% include ('../layouts/header.ejs') %>

<h1>Add New User</h1>

<form action="/admin/new-user" method="post">

    <input type="text" name="firstName" placeholder="Enter First Name" required>
    <br><br>
    <input type="text" name="lastName" placeholder="Enter Last Name" required>
    <br><br>
    <input type="email" name="email" placeholder="Enter Email" required>
    <br><br>
    <input type="text" name="phoneNumber" placeholder="Enter Phone Number" required>
    <br><br>
    <input type="Submit" value="Add User">

</form>


<% 
if(typeof message !=='undefined'){
    %>
    <p style="color: rgb(128, 58, 0);"><%- message %></p>
    <%
}
%>

<a href="/admin/dashboard">Go Back</a>


<% include('../layouts/footer.ejs') %>