 <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->

    <script src="/vendor/libs/jquery/jquery.js"></script>
    <script src="/vendor/libs/popper/popper.js"></script>
    <script src="/vendor/js/bootstrap.js"></script>
    <script src="/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/vendor/js/menu.js"></script>

    <!-- endbuild -->

    <!-- Vendors JS -->

    <!-- Main JS -->
    <script src="/js/main.js"></script>

    <!-- Page JS -->

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  
<footer>
    <div class="footer-container">
        <div class="footer-section">
            <h3>Explore by category</h3>
            <ul>
                <li>True Wireless</li>
                <li>Smart Watches</li>
                <li>Neckbands</li>
                <li>Headphones</li>
                <li>Speakers</li>
                <li>Smartwatch Straps</li>
                <li>Accessories</li>
            </ul>
        </div>

        <div class="footer-section">
            <h3>Explore by activity</h3>
            <ul>
                <li>Audiophile</li>
                <li>Workout</li>
                <li>Travel</li>
                <li>Work</li>
                <li>Entertainment</li>
            </ul>
        </div>

        <div class="footer-section">
            <h3>Support</h3>
            <ul>
                <li>Service Centers</li>
                <li>Warranty Registration</li>
                <li>Customer support</li>
            </ul>
        </div>

        <div class="footer-section">
            <h3>Company</h3>
            <ul>
                <li>About Us</li>
                <li>Careers</li>
                <li>Blogs</li>
                <li>Contact us</li>
                <li>Whatsapp us</li>
                <li>Email us</li>
                <li>Corporate Order</li>
                <li>Bulk Order</li>
            </ul>
        </div>
    </div>

    <div class="social-media">
        <a href="#"><i class="fa-brands fa-facebook"></i> Facebook</a>
        <a href="#"><i class="fa-brands fa-twitter"></i> Twitter</a>
        <a href="#"><i class="fa-brands fa-square-instagram"></i> Instagram</a>
        <a href="#"><i class="fa-brands fa-youtube"></i> YouTube</a>
    </div>

    <div class="legal">
        <p>Terms & Conditions | Privacy Policy | Site map | E-Waste Management</p>
        <p>© 2023, Boult Audio. All Rights Reserved</p>
    </div>
</footer>


</body>
</html>