<%- include('../layouts/header.ejs') %>
<br><br><br><br><br>
<h1 style="color: red;margin-left: 50px;"> 

    <%= message %>

</h1>
<br><br><br><br><br><br><br><br><br><br>


<%- include('../layouts/footer.ejs') %>
