<%- include('../layouts/header') %>
    <title>Register</title>
    <body>
    <!-- Content -->
    <div class="container-xxl">
      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
          <!-- Register Card -->
          <div class="card">
            <div class="card-body">
              <!-- Logo -->
              <div class="app-brand justify-content-center">
                <a href="/" class="app-brand-link gap-2">
                  <span class="app-brand-logo demo">
                    <img class="brand-logo-main" src="/Icon/brand logo.png" alt="img">
                  </span>
                  <span class="app-brand-text demo text-body fw-bold">Boult</span>
                </a>
              </div>
              <!-- /Logo -->
              <h4 class="mb-2">Adventure starts here 🚀</h4>
              <p class="mb-4">Please fill your details properly</p>
              <% if (typeof message !== 'undefined') { %>
                <% if(color==='danger') { %>
                    <div class="alert alert-danger text-center" role="alert">
                        <p><%- message %></p>
                    </div>
                <% } else { %>
                    <div class="alert alert-success text-center" role="alert">
                        <p><%- message %></p>
                    </div>
                <% } %>
            <% } %>
              <form id="formAuthentication" class="mb-3" action="/register" method="post">
                <div class="mb-3">
                  <label for="firstName" class="form-label">First Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="firstName"
                    name="firstName"
                    placeholder="Enter your First Name"
                    required
                    minlength="2"
                    maxlength="20"
                    autofocus />
                </div>
                <div class="mb-3">
                  <label for="lasttName" class="form-label" >Last Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="lastName"
                    name="lastName"
                    placeholder="Enter your lastName"
                    required 
                    minlength="2"
                    maxlength="20"
                    autofocus />
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" 
                  class="form-control"
                  id="email"
                  name="email"
                  placeholder="Enter your email"
                  required
                  minlength="5"
                  maxlength="50"/>
                </div>
                <div class="mb-3">
                  <label for="phoneNumber" class="form-label">Phone</label>
                  <input type="tel" 
                  class="form-control"
                  id="phoneNumber"
                  name="phoneNumber"
                  placeholder="Enter your Phone Number"
                  required
                  minlength="10"
                  maxlength="10"
                  pattern="[0-9]{10}"/>
                  <small style="color: #696cff;">Enter a 10-digit phone number (numbers only).</small>
                </div>
                <div class="mb-3 form-password-toggle">
                  <label class="form-label" for="password">Password</label>
                  <div class="input-group input-group-merge">
                    <input
                      type="password"
                      id="password"
                      class="form-control"
                      name="password"
                      required
                      placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                      aria-describedby="password" />
                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                  </div>
                </div>

                <div class="mb-3">
                  <div class="form-check">
                    <label class="form-check-label" for="terms-conditions">
                      By signing up, you agree to the
                      <a href="#">Terms of Service</a>
                      and
                      <a href="#">Privacy Policy</a>
                      ,including 
                      <a href="#">Cookie Use</a>
                    </label>
                  </div>
                </div>
                <button class="btn btn-primary d-grid w-100">Sign up</button>
              </form>

              <p class="text-center">
                <span>Already have an account?</span>
                <a href="/">
                  <span>Sign in instead</span>
                </a>
              </p>
            </div>
          </div>
          <!-- Register Card -->
        </div>
      </div>
    </div>

    <!-- / Content -->
    
  <%- include('../layouts/footer') %>

