
<%- include('../layouts/header') %>


    <title>Email Updation</title>
  

  <body>
    <!-- Content -->

    <div class="container-xxl">
      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner py-4">
          <!-- Forgot Password -->
          <div class="card">
            <div class="card-body">
              <!-- Logo -->
              <div class="app-brand justify-content-center">
                <a href="/" class="app-brand-link gap-2">
                  <span class="app-brand-logo demo">
                    <img class="brand-logo-main" src="/Icon/brand logo.png" alt="img">
                  </span>
                  <span class="app-brand-text demo text-body fw-bold">Boult</span>
                </a>
              </div>
              <!-- /Logo -->
              <h4 class="mb-2">Change your email address? 🔒</h4>
              <p class="mb-4">Enter the new email address you would like to associate with your account below.
                 We will send a One Time Password (OTP) to that address.</p>
              <% if (typeof message !== 'undefined') { %>
                <% if(color==='danger') { %>
                    <div class="alert alert-danger text-center" role="alert">
                        <p><%- message %></p>
                    </div>
                <% } else { %>
                    <div class="alert alert-success text-center" role="alert">
                        <p><%- message %></p>
                    </div>
                <% } %>
            <% } %>
              <form id="formAuthentication" class="mb-3" action="verify-newEmail" method="post">
                <div class="mb-3">
                  <label for="email" class="form-label">New email address</label>
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    required
                    minlength="5"
                    maxlength="50"
                    pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
                    placeholder="Enter your new email address"
                    autofocus >
                </div>
                <button  class="btn btn-primary d-grid w-100">Continue</button>
              </form>
              
            </div>
          </div>
        </div>
      </div>
    </div>
<%- include('../layouts/footer') %>





